--
-- PostgreSQL database dump
--

\restrict BtIDvXpaiIwsMIebaxFhjkuGTN3hh1ev4oBsaWzEHcJ4qWGwjqRnnmXYqP3H2Ij

-- Dumped from database version 16.10
-- Dumped by pg_dump version 16.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accounts_userprofile; Type: TABLE; Schema: public; Owner: POSTGRES
--

CREATE TABLE public.accounts_userprofile (
    id bigint NOT NULL,
    phone character varying(32) NOT NULL,
    avatar character varying(100),
    default_shipping_address character varying(500) NOT NULL,
    default_shipping_city character varying(100) NOT NULL,
    default_shipping_postcode character varying(20) NOT NULL,
    default_shipping_country character varying(100) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.accounts_userprofile OWNER TO "POSTGRES";

--
-- Name: accounts_userprofile_id_seq; Type: SEQUENCE; Schema: public; Owner: POSTGRES
--

ALTER TABLE public.accounts_userprofile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_userprofile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: POSTGRES
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO "POSTGRES";

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: POSTGRES
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: POSTGRES
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO "POSTGRES";

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: POSTGRES
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: POSTGRES
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO "POSTGRES";

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: POSTGRES
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: POSTGRES
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO "POSTGRES";

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: POSTGRES
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO "POSTGRES";

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: POSTGRES
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: POSTGRES
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: POSTGRES
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO "POSTGRES";

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: POSTGRES
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: content_post; Type: TABLE; Schema: public; Owner: POSTGRES
--

CREATE TABLE public.content_post (
    id bigint NOT NULL,
    slug character varying(255) NOT NULL,
    title character varying(255) NOT NULL,
    summary character varying(500) NOT NULL,
    body text NOT NULL,
    meta_title character varying(255) NOT NULL,
    meta_description character varying(500) NOT NULL,
    meta_keywords character varying(255) NOT NULL,
    author_id integer,
    og_image character varying(100),
    is_published boolean NOT NULL,
    published_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.content_post OWNER TO "POSTGRES";

--
-- Name: content_post_id_seq; Type: SEQUENCE; Schema: public; Owner: POSTGRES
--

ALTER TABLE public.content_post ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.content_post_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: POSTGRES
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO "POSTGRES";

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: POSTGRES
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: POSTGRES
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO "POSTGRES";

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: POSTGRES
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: POSTGRES
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO "POSTGRES";

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: POSTGRES
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: POSTGRES
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO "POSTGRES";

--
-- Name: shop_cart; Type: TABLE; Schema: public; Owner: POSTGRES
--

CREATE TABLE public.shop_cart (
    id uuid NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id integer
);


ALTER TABLE public.shop_cart OWNER TO "POSTGRES";

--
-- Name: shop_cartitem; Type: TABLE; Schema: public; Owner: POSTGRES
--

CREATE TABLE public.shop_cartitem (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    cart_id uuid NOT NULL,
    product_id bigint NOT NULL,
    CONSTRAINT shop_cartitem_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.shop_cartitem OWNER TO "POSTGRES";

--
-- Name: shop_cartitem_id_seq; Type: SEQUENCE; Schema: public; Owner: POSTGRES
--

ALTER TABLE public.shop_cartitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_cartitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shop_category; Type: TABLE; Schema: public; Owner: POSTGRES
--

CREATE TABLE public.shop_category (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    slug character varying(255) NOT NULL,
    description text NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    meta_title character varying(255) NOT NULL,
    meta_description character varying(500) NOT NULL
);


ALTER TABLE public.shop_category OWNER TO "POSTGRES";

--
-- Name: shop_category_id_seq; Type: SEQUENCE; Schema: public; Owner: POSTGRES
--

ALTER TABLE public.shop_category ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shop_order; Type: TABLE; Schema: public; Owner: POSTGRES
--

CREATE TABLE public.shop_order (
    id bigint NOT NULL,
    status character varying(20) NOT NULL,
    payment_status character varying(20) NOT NULL,
    subtotal_amount numeric(10,2) NOT NULL,
    shipping_amount numeric(10,2) NOT NULL,
    total_amount numeric(10,2) NOT NULL,
    currency character varying(3) NOT NULL,
    customer_email character varying(254) NOT NULL,
    customer_phone character varying(32) NOT NULL,
    shipping_full_name character varying(255) NOT NULL,
    shipping_address character varying(500) NOT NULL,
    shipping_city character varying(100) NOT NULL,
    shipping_postcode character varying(20) NOT NULL,
    shipping_country character varying(100) NOT NULL,
    notes text NOT NULL,
    placed_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    cart_id uuid,
    user_id integer,
    deleted_at timestamp with time zone
);


ALTER TABLE public.shop_order OWNER TO "POSTGRES";

--
-- Name: shop_order_id_seq; Type: SEQUENCE; Schema: public; Owner: POSTGRES
--

ALTER TABLE public.shop_order ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_order_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shop_orderitem; Type: TABLE; Schema: public; Owner: POSTGRES
--

CREATE TABLE public.shop_orderitem (
    id bigint NOT NULL,
    product_name character varying(255) NOT NULL,
    unit_price numeric(10,2) NOT NULL,
    quantity integer NOT NULL,
    line_total numeric(10,2) NOT NULL,
    order_id bigint NOT NULL,
    product_id bigint NOT NULL,
    CONSTRAINT shop_orderitem_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.shop_orderitem OWNER TO "POSTGRES";

--
-- Name: shop_orderitem_id_seq; Type: SEQUENCE; Schema: public; Owner: POSTGRES
--

ALTER TABLE public.shop_orderitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_orderitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shop_product; Type: TABLE; Schema: public; Owner: POSTGRES
--

CREATE TABLE public.shop_product (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    slug character varying(255) NOT NULL,
    sku character varying(64) NOT NULL,
    short_description character varying(500) NOT NULL,
    description text NOT NULL,
    price numeric(10,2) NOT NULL,
    currency character varying(3) NOT NULL,
    stock integer NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    category_id bigint NOT NULL,
    deleted_at timestamp with time zone,
    meta_title character varying(255) NOT NULL,
    meta_description character varying(500) NOT NULL,
    meta_keywords character varying(255) NOT NULL,
    CONSTRAINT shop_product_stock_check CHECK ((stock >= 0))
);


ALTER TABLE public.shop_product OWNER TO "POSTGRES";

--
-- Name: shop_product_id_seq; Type: SEQUENCE; Schema: public; Owner: POSTGRES
--

ALTER TABLE public.shop_product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shop_productimage; Type: TABLE; Schema: public; Owner: POSTGRES
--

CREATE TABLE public.shop_productimage (
    id bigint NOT NULL,
    image character varying(100) NOT NULL,
    alt_text character varying(255) NOT NULL,
    is_main boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    product_id bigint NOT NULL
);


ALTER TABLE public.shop_productimage OWNER TO "POSTGRES";

--
-- Name: shop_productimage_id_seq; Type: SEQUENCE; Schema: public; Owner: POSTGRES
--

ALTER TABLE public.shop_productimage ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_productimage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shop_productreview; Type: TABLE; Schema: public; Owner: POSTGRES
--

CREATE TABLE public.shop_productreview (
    id bigint NOT NULL,
    deleted_at timestamp with time zone,
    rating smallint NOT NULL,
    title character varying(255) NOT NULL,
    body text NOT NULL,
    verified_purchase boolean NOT NULL,
    moderation_status character varying(20) NOT NULL,
    moderation_note text NOT NULL,
    moderated_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    moderated_by_id integer,
    product_id bigint NOT NULL,
    user_id integer,
    author_name character varying(255) NOT NULL,
    CONSTRAINT product_review_rating_range CHECK (((rating >= 1) AND (rating <= 5))),
    CONSTRAINT shop_productreview_rating_check CHECK ((rating >= 0))
);


ALTER TABLE public.shop_productreview OWNER TO "POSTGRES";

--
-- Name: shop_productreview_id_seq; Type: SEQUENCE; Schema: public; Owner: POSTGRES
--

ALTER TABLE public.shop_productreview ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_productreview_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: taggit_tag; Type: TABLE; Schema: public; Owner: POSTGRES
--

CREATE TABLE public.taggit_tag (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    slug character varying(100) NOT NULL
);


ALTER TABLE public.taggit_tag OWNER TO "POSTGRES";

--
-- Name: taggit_tag_id_seq; Type: SEQUENCE; Schema: public; Owner: POSTGRES
--

ALTER TABLE public.taggit_tag ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.taggit_tag_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: taggit_taggeditem; Type: TABLE; Schema: public; Owner: POSTGRES
--

CREATE TABLE public.taggit_taggeditem (
    id integer NOT NULL,
    object_id integer NOT NULL,
    content_type_id integer NOT NULL,
    tag_id integer NOT NULL
);


ALTER TABLE public.taggit_taggeditem OWNER TO "POSTGRES";

--
-- Name: taggit_taggeditem_id_seq; Type: SEQUENCE; Schema: public; Owner: POSTGRES
--

ALTER TABLE public.taggit_taggeditem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.taggit_taggeditem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: accounts_userprofile; Type: TABLE DATA; Schema: public; Owner: POSTGRES
--



--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: POSTGRES
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: POSTGRES
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: POSTGRES
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: POSTGRES
--



--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: POSTGRES
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: POSTGRES
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: content_post; Type: TABLE DATA; Schema: public; Owner: POSTGRES
--

COPY public.content_post (id, slug, title, summary, body, meta_title, meta_description, meta_keywords, author_id, og_image, is_published, published_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: POSTGRES
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: POSTGRES
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	shop	order
8	shop	productimage
9	shop	category
10	shop	cartitem
11	shop	product
12	shop	cart
13	shop	orderitem
14	accounts	userprofile
15	taggit	tag
16	taggit	taggeditem
17	content	post
18	shop	productreview
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: POSTGRES
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: POSTGRES
--



--
-- Data for Name: shop_cart; Type: TABLE DATA; Schema: public; Owner: POSTGRES
--

COPY public.shop_cart (id, created_at, updated_at, user_id) FROM stdin;
49d1b023-1d5b-40b3-93bb-be4a8e658c3a	2025-10-17 20:19:08.475572+00	2025-10-17 20:19:08.4756+00	\N
bf6c4067-856b-438d-a6fa-57bde9d72426	2025-10-17 20:23:32.072887+00	2025-10-17 20:23:32.072907+00	\N
58ce6936-9bf0-42ed-a69a-7631de18ba76	2025-10-17 20:23:50.187616+00	2025-10-19 20:22:51.550998+00	3
\.


--
-- Data for Name: shop_cartitem; Type: TABLE DATA; Schema: public; Owner: POSTGRES
--

COPY public.shop_cartitem (id, quantity, created_at, updated_at, cart_id, product_id) FROM stdin;
5	1	2025-10-17 20:21:47.934596+00	2025-10-17 20:21:47.93462+00	49d1b023-1d5b-40b3-93bb-be4a8e658c3a	143
6	1	2025-10-17 20:23:32.113634+00	2025-10-17 20:23:32.113651+00	bf6c4067-856b-438d-a6fa-57bde9d72426	63
7	1	2025-10-17 20:23:50.235017+00	2025-10-17 20:23:50.235042+00	58ce6936-9bf0-42ed-a69a-7631de18ba76	80
\.


--
-- Data for Name: shop_category; Type: TABLE DATA; Schema: public; Owner: POSTGRES
--



--
-- Data for Name: shop_order; Type: TABLE DATA; Schema: public; Owner: POSTGRES
--



--
-- Data for Name: shop_orderitem; Type: TABLE DATA; Schema: public; Owner: POSTGRES
--

COPY public.shop_orderitem (id, product_name, unit_price, quantity, line_total, order_id, product_id) FROM stdin;
6	╨Р╤А╨╛╨╝╨░╨┤╨╕╤Д╤Д╤Г╨╖╨╛╤А Breeze	2590.00	1	2590.00	5	63
7	╨Р╤А╨╛╨╝╨░╨┤╨╕╤Д╤Д╤Г╨╖╨╛╤А Breeze Variant 108	1189.00	1	1189.00	6	175
8	╨г╨╝╨╜╨░╤П ╨╖╤Г╨▒╨╜╨░╤П ╤Й╤С╤В╨║╨░ SmileCare Sonic Variant 112	3991.00	1	3991.00	6	179
9	╨г╨╝╨╜╨░╤П ╨╖╤Г╨▒╨╜╨░╤П ╤Й╤С╤В╨║╨░ SmileCare Sonic Variant 104	3420.00	1	3420.00	7	171
10	╨Р╤А╨╛╨╝╨░╨┤╨╕╤Д╤Д╤Г╨╖╨╛╤А Breeze	2590.00	1	2590.00	8	63
\.


--
-- Data for Name: shop_product; Type: TABLE DATA; Schema: public; Owner: POSTGRES
--



--
-- Data for Name: shop_productimage; Type: TABLE DATA; Schema: public; Owner: POSTGRES
--



--
-- Data for Name: shop_productreview; Type: TABLE DATA; Schema: public; Owner: POSTGRES
--



--
-- Data for Name: taggit_tag; Type: TABLE DATA; Schema: public; Owner: POSTGRES
--

COPY public.taggit_tag (id, name, slug) FROM stdin;
\.


--
-- Data for Name: taggit_taggeditem; Type: TABLE DATA; Schema: public; Owner: POSTGRES
--

COPY public.taggit_taggeditem (id, object_id, content_type_id, tag_id) FROM stdin;
\.


--
-- Name: accounts_userprofile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: POSTGRES
--

SELECT pg_catalog.setval('public.accounts_userprofile_id_seq', 6, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: POSTGRES
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: POSTGRES
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: POSTGRES
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 72, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: POSTGRES
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: POSTGRES
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 7, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: POSTGRES
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: content_post_id_seq; Type: SEQUENCE SET; Schema: public; Owner: POSTGRES
--

SELECT pg_catalog.setval('public.content_post_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: POSTGRES
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 9, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: POSTGRES
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 18, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: POSTGRES
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 32, true);


--
-- Name: shop_cartitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: POSTGRES
--

SELECT pg_catalog.setval('public.shop_cartitem_id_seq', 16, true);


--
-- Name: shop_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: POSTGRES
--

SELECT pg_catalog.setval('public.shop_category_id_seq', 53, true);


--
-- Name: shop_order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: POSTGRES
--

SELECT pg_catalog.setval('public.shop_order_id_seq', 8, true);


--
-- Name: shop_orderitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: POSTGRES
--

SELECT pg_catalog.setval('public.shop_orderitem_id_seq', 10, true);


--
-- Name: shop_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: POSTGRES
--

SELECT pg_catalog.setval('public.shop_product_id_seq', 179, true);


--
-- Name: shop_productimage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: POSTGRES
--

SELECT pg_catalog.setval('public.shop_productimage_id_seq', 178, true);


--
-- Name: shop_productreview_id_seq; Type: SEQUENCE SET; Schema: public; Owner: POSTGRES
--

SELECT pg_catalog.setval('public.shop_productreview_id_seq', 5, true);


--
-- Name: taggit_tag_id_seq; Type: SEQUENCE SET; Schema: public; Owner: POSTGRES
--

SELECT pg_catalog.setval('public.taggit_tag_id_seq', 1, false);


--
-- Name: taggit_taggeditem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: POSTGRES
--

SELECT pg_catalog.setval('public.taggit_taggeditem_id_seq', 1, false);


--
-- Name: accounts_userprofile accounts_userprofile_pkey; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.accounts_userprofile
    ADD CONSTRAINT accounts_userprofile_pkey PRIMARY KEY (id);


--
-- Name: accounts_userprofile accounts_userprofile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.accounts_userprofile
    ADD CONSTRAINT accounts_userprofile_user_id_key UNIQUE (user_id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: content_post content_post_pkey; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.content_post
    ADD CONSTRAINT content_post_pkey PRIMARY KEY (id);


--
-- Name: content_post content_post_slug_key; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.content_post
    ADD CONSTRAINT content_post_slug_key UNIQUE (slug);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: shop_cart shop_cart_pkey; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.shop_cart
    ADD CONSTRAINT shop_cart_pkey PRIMARY KEY (id);


--
-- Name: shop_cartitem shop_cartitem_cart_id_product_id_eacadbd7_uniq; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.shop_cartitem
    ADD CONSTRAINT shop_cartitem_cart_id_product_id_eacadbd7_uniq UNIQUE (cart_id, product_id);


--
-- Name: shop_cartitem shop_cartitem_pkey; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.shop_cartitem
    ADD CONSTRAINT shop_cartitem_pkey PRIMARY KEY (id);


--
-- Name: shop_category shop_category_name_key; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.shop_category
    ADD CONSTRAINT shop_category_name_key UNIQUE (name);


--
-- Name: shop_category shop_category_pkey; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.shop_category
    ADD CONSTRAINT shop_category_pkey PRIMARY KEY (id);


--
-- Name: shop_category shop_category_slug_key; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.shop_category
    ADD CONSTRAINT shop_category_slug_key UNIQUE (slug);


--
-- Name: shop_order shop_order_cart_id_key; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.shop_order
    ADD CONSTRAINT shop_order_cart_id_key UNIQUE (cart_id);


--
-- Name: shop_order shop_order_pkey; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.shop_order
    ADD CONSTRAINT shop_order_pkey PRIMARY KEY (id);


--
-- Name: shop_orderitem shop_orderitem_pkey; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.shop_orderitem
    ADD CONSTRAINT shop_orderitem_pkey PRIMARY KEY (id);


--
-- Name: shop_product shop_product_pkey; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.shop_product
    ADD CONSTRAINT shop_product_pkey PRIMARY KEY (id);


--
-- Name: shop_product shop_product_sku_key; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.shop_product
    ADD CONSTRAINT shop_product_sku_key UNIQUE (sku);


--
-- Name: shop_product shop_product_slug_key; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.shop_product
    ADD CONSTRAINT shop_product_slug_key UNIQUE (slug);


--
-- Name: shop_productimage shop_productimage_pkey; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.shop_productimage
    ADD CONSTRAINT shop_productimage_pkey PRIMARY KEY (id);


--
-- Name: shop_productreview shop_productreview_pkey; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.shop_productreview
    ADD CONSTRAINT shop_productreview_pkey PRIMARY KEY (id);


--
-- Name: taggit_tag taggit_tag_name_key; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.taggit_tag
    ADD CONSTRAINT taggit_tag_name_key UNIQUE (name);


--
-- Name: taggit_tag taggit_tag_pkey; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.taggit_tag
    ADD CONSTRAINT taggit_tag_pkey PRIMARY KEY (id);


--
-- Name: taggit_tag taggit_tag_slug_key; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.taggit_tag
    ADD CONSTRAINT taggit_tag_slug_key UNIQUE (slug);


--
-- Name: taggit_taggeditem taggit_taggeditem_content_type_id_object_id_tag_id_4bb97a8e_uni; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.taggit_taggeditem
    ADD CONSTRAINT taggit_taggeditem_content_type_id_object_id_tag_id_4bb97a8e_uni UNIQUE (content_type_id, object_id, tag_id);


--
-- Name: taggit_taggeditem taggit_taggeditem_pkey; Type: CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.taggit_taggeditem
    ADD CONSTRAINT taggit_taggeditem_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: POSTGRES
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: POSTGRES
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: POSTGRES
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: POSTGRES
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: POSTGRES
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: POSTGRES
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: POSTGRES
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: POSTGRES
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: POSTGRES
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: content_post_author_id_a90965c2; Type: INDEX; Schema: public; Owner: POSTGRES
--

CREATE INDEX content_post_author_id_a90965c2 ON public.content_post USING btree (author_id);


--
-- Name: content_post_slug_efa80cd5_like; Type: INDEX; Schema: public; Owner: POSTGRES
--

CREATE INDEX content_post_slug_efa80cd5_like ON public.content_post USING btree (slug varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: POSTGRES
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: POSTGRES
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: POSTGRES
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: POSTGRES
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: shop_cart_user_id_27925ac6; Type: INDEX; Schema: public; Owner: POSTGRES
--

CREATE INDEX shop_cart_user_id_27925ac6 ON public.shop_cart USING btree (user_id);


--
-- Name: shop_cartitem_cart_id_6bf1447e; Type: INDEX; Schema: public; Owner: POSTGRES
--

CREATE INDEX shop_cartitem_cart_id_6bf1447e ON public.shop_cartitem USING btree (cart_id);


--
-- Name: shop_cartitem_product_id_09e4b7dd; Type: INDEX; Schema: public; Owner: POSTGRES
--

CREATE INDEX shop_cartitem_product_id_09e4b7dd ON public.shop_cartitem USING btree (product_id);


--
-- Name: shop_category_name_11b68823_like; Type: INDEX; Schema: public; Owner: POSTGRES
--

CREATE INDEX shop_category_name_11b68823_like ON public.shop_category USING btree (name varchar_pattern_ops);


--
-- Name: shop_category_slug_4508178e_like; Type: INDEX; Schema: public; Owner: POSTGRES
--

CREATE INDEX shop_category_slug_4508178e_like ON public.shop_category USING btree (slug varchar_pattern_ops);


--
-- Name: shop_order_user_id_00aba627; Type: INDEX; Schema: public; Owner: POSTGRES
--

CREATE INDEX shop_order_user_id_00aba627 ON public.shop_order USING btree (user_id);


--
-- Name: shop_orderitem_order_id_2f1b00cf; Type: INDEX; Schema: public; Owner: POSTGRES
--

CREATE INDEX shop_orderitem_order_id_2f1b00cf ON public.shop_orderitem USING btree (order_id);


--
-- Name: shop_orderitem_product_id_48153f22; Type: INDEX; Schema: public; Owner: POSTGRES
--

CREATE INDEX shop_orderitem_product_id_48153f22 ON public.shop_orderitem USING btree (product_id);


--
-- Name: shop_product_category_id_14d7eea8; Type: INDEX; Schema: public; Owner: POSTGRES
--

CREATE INDEX shop_product_category_id_14d7eea8 ON public.shop_product USING btree (category_id);


--
-- Name: shop_product_sku_20049d15_like; Type: INDEX; Schema: public; Owner: POSTGRES
--

CREATE INDEX shop_product_sku_20049d15_like ON public.shop_product USING btree (sku varchar_pattern_ops);


--
-- Name: shop_product_slug_30bd2d5d_like; Type: INDEX; Schema: public; Owner: POSTGRES
--

CREATE INDEX shop_product_slug_30bd2d5d_like ON public.shop_product USING btree (slug varchar_pattern_ops);


--
-- Name: shop_productimage_product_id_65b3b20c; Type: INDEX; Schema: public; Owner: POSTGRES
--

CREATE INDEX shop_productimage_product_id_65b3b20c ON public.shop_productimage USING btree (product_id);


--
-- Name: shop_productreview_moderated_by_id_8fdcbca1; Type: INDEX; Schema: public; Owner: POSTGRES
--

CREATE INDEX shop_productreview_moderated_by_id_8fdcbca1 ON public.shop_productreview USING btree (moderated_by_id);


--
-- Name: shop_productreview_product_id_cd68779d; Type: INDEX; Schema: public; Owner: POSTGRES
--

CREATE INDEX shop_productreview_product_id_cd68779d ON public.shop_productreview USING btree (product_id);


--
-- Name: shop_productreview_user_id_e5ade595; Type: INDEX; Schema: public; Owner: POSTGRES
--

CREATE INDEX shop_productreview_user_id_e5ade595 ON public.shop_productreview USING btree (user_id);


--
-- Name: taggit_tag_name_58eb2ed9_like; Type: INDEX; Schema: public; Owner: POSTGRES
--

CREATE INDEX taggit_tag_name_58eb2ed9_like ON public.taggit_tag USING btree (name varchar_pattern_ops);


--
-- Name: taggit_tag_slug_6be58b2c_like; Type: INDEX; Schema: public; Owner: POSTGRES
--

CREATE INDEX taggit_tag_slug_6be58b2c_like ON public.taggit_tag USING btree (slug varchar_pattern_ops);


--
-- Name: taggit_tagg_content_8fc721_idx; Type: INDEX; Schema: public; Owner: POSTGRES
--

CREATE INDEX taggit_tagg_content_8fc721_idx ON public.taggit_taggeditem USING btree (content_type_id, object_id);


--
-- Name: taggit_taggeditem_content_type_id_9957a03c; Type: INDEX; Schema: public; Owner: POSTGRES
--

CREATE INDEX taggit_taggeditem_content_type_id_9957a03c ON public.taggit_taggeditem USING btree (content_type_id);


--
-- Name: taggit_taggeditem_object_id_e2d7d1df; Type: INDEX; Schema: public; Owner: POSTGRES
--

CREATE INDEX taggit_taggeditem_object_id_e2d7d1df ON public.taggit_taggeditem USING btree (object_id);


--
-- Name: taggit_taggeditem_tag_id_f4f5b767; Type: INDEX; Schema: public; Owner: POSTGRES
--

CREATE INDEX taggit_taggeditem_tag_id_f4f5b767 ON public.taggit_taggeditem USING btree (tag_id);


--
-- Name: unique_active_product_review; Type: INDEX; Schema: public; Owner: POSTGRES
--

CREATE UNIQUE INDEX unique_active_product_review ON public.shop_productreview USING btree (product_id, user_id) WHERE ((deleted_at IS NULL) AND (user_id IS NOT NULL));


--
-- Name: accounts_userprofile accounts_userprofile_user_id_92240672_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.accounts_userprofile
    ADD CONSTRAINT accounts_userprofile_user_id_92240672_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: content_post content_post_author_id_a90965c2_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.content_post
    ADD CONSTRAINT content_post_author_id_a90965c2_fk_auth_user_id FOREIGN KEY (author_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_cart shop_cart_user_id_27925ac6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.shop_cart
    ADD CONSTRAINT shop_cart_user_id_27925ac6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_cartitem shop_cartitem_cart_id_6bf1447e_fk_shop_cart_id; Type: FK CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.shop_cartitem
    ADD CONSTRAINT shop_cartitem_cart_id_6bf1447e_fk_shop_cart_id FOREIGN KEY (cart_id) REFERENCES public.shop_cart(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_cartitem shop_cartitem_product_id_09e4b7dd_fk_shop_product_id; Type: FK CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.shop_cartitem
    ADD CONSTRAINT shop_cartitem_product_id_09e4b7dd_fk_shop_product_id FOREIGN KEY (product_id) REFERENCES public.shop_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_order shop_order_cart_id_5b16e4f1_fk_shop_cart_id; Type: FK CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.shop_order
    ADD CONSTRAINT shop_order_cart_id_5b16e4f1_fk_shop_cart_id FOREIGN KEY (cart_id) REFERENCES public.shop_cart(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_order shop_order_user_id_00aba627_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.shop_order
    ADD CONSTRAINT shop_order_user_id_00aba627_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_orderitem shop_orderitem_order_id_2f1b00cf_fk_shop_order_id; Type: FK CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.shop_orderitem
    ADD CONSTRAINT shop_orderitem_order_id_2f1b00cf_fk_shop_order_id FOREIGN KEY (order_id) REFERENCES public.shop_order(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_orderitem shop_orderitem_product_id_48153f22_fk_shop_product_id; Type: FK CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.shop_orderitem
    ADD CONSTRAINT shop_orderitem_product_id_48153f22_fk_shop_product_id FOREIGN KEY (product_id) REFERENCES public.shop_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_product shop_product_category_id_14d7eea8_fk_shop_category_id; Type: FK CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.shop_product
    ADD CONSTRAINT shop_product_category_id_14d7eea8_fk_shop_category_id FOREIGN KEY (category_id) REFERENCES public.shop_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_productimage shop_productimage_product_id_65b3b20c_fk_shop_product_id; Type: FK CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.shop_productimage
    ADD CONSTRAINT shop_productimage_product_id_65b3b20c_fk_shop_product_id FOREIGN KEY (product_id) REFERENCES public.shop_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_productreview shop_productreview_moderated_by_id_8fdcbca1_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.shop_productreview
    ADD CONSTRAINT shop_productreview_moderated_by_id_8fdcbca1_fk_auth_user_id FOREIGN KEY (moderated_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_productreview shop_productreview_product_id_cd68779d_fk_shop_product_id; Type: FK CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.shop_productreview
    ADD CONSTRAINT shop_productreview_product_id_cd68779d_fk_shop_product_id FOREIGN KEY (product_id) REFERENCES public.shop_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_productreview shop_productreview_user_id_e5ade595_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.shop_productreview
    ADD CONSTRAINT shop_productreview_user_id_e5ade595_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: taggit_taggeditem taggit_taggeditem_content_type_id_9957a03c_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.taggit_taggeditem
    ADD CONSTRAINT taggit_taggeditem_content_type_id_9957a03c_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: taggit_taggeditem taggit_taggeditem_tag_id_f4f5b767_fk_taggit_tag_id; Type: FK CONSTRAINT; Schema: public; Owner: POSTGRES
--

ALTER TABLE ONLY public.taggit_taggeditem
    ADD CONSTRAINT taggit_taggeditem_tag_id_f4f5b767_fk_taggit_tag_id FOREIGN KEY (tag_id) REFERENCES public.taggit_tag(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict BtIDvXpaiIwsMIebaxFhjkuGTN3hh1ev4oBsaWzEHcJ4qWGwjqRnnmXYqP3H2Ij

